h1 {
  text-align: center;
  color: red;


}
h2{
   color: blue;
   border-bottom: 1px solid black
}
ul {
  list-style: none;
  font-weight: bold;
}
footer {
  margin-left: auto;
  margin-right:auto;
  width: 80%;
  font-size: 16px;
  font-style: italic;
}
